<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Bootstrap -->
     <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"  %}" >
     <!-- Custom styles for this template -->
     <link rel="stylesheet" type="text/css" href="{% static "bootstrap/index.css"  %}" >
      <link rel="stylesheet" type="text/css" href="{% static "bootstrap/mycss.css"  %}" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        


     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </head>

 

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
        
           <li><a href="">Submit Another Form</a></li>
          <li class="active"><a href="{% url 'index' %}">Logout</a></li>
          
        </ul>
        <h3 class="text-muted">Polling System</h3>
      </div>







 <div class="jumbotron" id="AddNew">
       <h2>Add Picnic Spot Choices </h2>
        <p class="lead">Enter All the Informations</p>
        <p></p>
      <div class="row">


          <div class="col-md-12 col-xs-12 col-sm-0 col-lg-12 ">
            
          
                <div class="customDivF"><class=text-primary>


             <form method="post" class="form-horizontal" action="/AddVotingOptions/">
              {% csrf_token %}
              <div class="form-group">

                <label class="control-label col-sm-4" for="place_name">Spot Name : </label>
                <div class="col-sm-4">
                    <input type="text" name="place_name" class="form-control" id="place_name" required>
                </div>
            </div>
            <div class="form-group">

                <label class="control-label col-sm-4" for="detail">Place : </label>
                <div class="col-sm-4">
                    <input type="text" name="detail" class="form-control" id="detail" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="approx_cost">Picnic Fare: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="approx_cost" name="approx_cost" required>
                </div>
            </div>
            
                 
                              
                    
                   <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                </div>
                
      


        </div>
      </div>


    </div> <!-- /container -->





<div class="jumbotron" id="AddNew">
       <h2>Showing Added Spot Choices </h2>
       <div class="container">
    <div class="row" id="registered_Choices">
        <br>
        <table class="table table-striped">
            <thead>
            <th>Spot Name</th>
            <th>Place</th>
            <th>Picnic Fare</th>
            </thead>
            <tbody>

            {% for choice in Choices %}
                <tr>
                    <td>{{ choice.place_name }}</td>
                    <td>{{ choice.detail }}</td>
                    <td>{{ choice.approx_cost }}</td>
                </tr>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div> 
       
    </div> <!-- /container -->



























     

 <div class="footer">
        <p>cse.ru polling system</p>
      </div>
 </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
